footer.warning_notice {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 12px 18px;
  border-left: 4px solid #e60000;
  border-right: 4px solid #e60000;
  position: relative;
}

footer.warning_notice > h4 {
  color: #e60000;
  text-transform: uppercase;
  font-family: Frutiger Bold;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  margin: 0 0 15px;
}

footer.warning_notice > p {
  margin: 0;
  font-size: 13px;
}

footer.warning_notice.warning > h4 {
  background-image: url(../../images/warning-triangle-red.png);
  background-repeat: no-repeat;
  background-size: auto 16px;
  background-position: 0;
  text-indent: 25px;
}
